[user]
	name = Przemysław Broniszewski
{{ if eq .profile "owned" -}}
	email = przemek@broniszewski.net
{{ else -}}
	email = przemyslaw.broniszewski@jit.team
{{ end -}}

[core]
	autocrlf = input

[init]
	defaultBranch = main
